/***********************************************************************************************************************
************ fonts
***********************************************************************************************************************/
@font-face {
  font-family: 'Exo2 Regular';
  src: url("../source/fonts/exo2.woff") format("woff"), url("../source/fonts/exo2.ttf") format("truetype"), url("../source/fonts/exo2.woff2") format("woff2");
}
@font-face {
  font-family: 'Exo2 Bold';
  src: url("../source/fonts/exo2bold.woff") format("woff"), url("../source/fonts/exo2bold.ttf") format("truetype"), url("../source/fonts/exo2bold.woff2") format("woff2");
}
@font-face {
  font-family: 'PT Sans Regular';
  src: url("../source/fonts/ptsans.woff") format("woff"), url("../source/fonts/ptsans.ttf") format("truetype"), url("../source/fonts/ptsans.woff2") format("woff2");
}
@font-face {
  font-family: 'PT Sans Bold';
  src: url("../source/fonts/ptsansbold.woff") format("woff"), url("../source/fonts/ptsansbold.ttf") format("truetype"), url("../source/fonts/ptsansbold.woff2") format("woff2");
}
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "PT Sans Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
}
a {
  color: #0b5c8e;
}
a:hover {
  text-decoration: none;
}
a,
button {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border: none;
  cursor: pointer;
}
a:focus,
button:focus {
  outline: none;
}
.wrapper {
  display: block;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  background: #f3f3f3;
  min-height: 100vh;
}
.wrapper-inner {
  display: block;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}
.wrapper-inner:after {
  content: '';
  display: block;
  clear: both;
}
@media (max-width: 1260px) {
  .wrapper-inner {
    padding: 0 10px;
  }
}
.custom-button {
  display: block;
  width: 205px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  background: url(../source/images/decor-button-left.png) no-repeat left center, url(../source/images/decor-button-right.png) no-repeat right center, url(../source/images/background-button.jpg) no-repeat;
  background-size: auto, auto, cover;
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
.custom-button:hover {
  background: url(../source/images/decor-button-left.png) no-repeat -10px center, url(../source/images/decor-button-right.png) no-repeat calc(100% + 10px) center, url(../source/images/background-button.jpg) no-repeat;
  -webkit-box-shadow: 0 0 15px 0 rgba(255, 80, 14, 0.5);
  -moz-box-shadow: 0 0 15px 0 rgba(255, 80, 14, 0.5);
  box-shadow: 0 0 15px 0 rgba(255, 80, 14, 0.5);
}
.custom-button:active {
  line-height: 50px;
}
/***********************************************************************************************************************
************ header
***********************************************************************************************************************/
header[role='banner'] {
  background: #fff url(../source/images/background-header.png) repeat-x left bottom;
  padding: 30px 0 90px;
}
header[role='banner'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header[role='banner'] .wrapper-inner:after {
  display: none;
}
.logo-header {
  display: block;
  width: 226px;
}
.logo-header:hover {
  opacity: .7;
}
.logo-header-small {
  display: none;
}
.header-promo span {
  font-family: "PT Sans Bold", sans-serif;
}
.header-promo span a {
  font-family: inherit;
}
.header-promo ul {
  display: block;
  margin-top: 5px;
}
.header-promo ul li {
  display: block;
  position: relative;
  padding-left: 30px;
}
.header-promo ul li:before {
  content: '';
  display: block;
  height: 8px;
  width: 5px;
  background: #ff6926;
  position: absolute;
  top: 4px;
  left: 14px;
  -webkit-transform: skew(60deg) rotate(60deg);
  -moz-transform: skew(60deg) rotate(60deg);
  -ms-transform: skew(60deg) rotate(60deg);
  -o-transform: skew(60deg) rotate(60deg);
  transform: skew(60deg) rotate(60deg);
}
.header-links {
  display: block;
  width: 360px;
}
.header-links li {
  display: block;
  width: 50%;
  float: left;
  padding-left: 40px;
  position: relative;
  margin: 10px 0;
}
.header-links li:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: transparent url(../source/images/sprite-header.png) no-repeat left top;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.header-links li:hover:before {
  left: 5px;
}
.header-links li:nth-child(2):before {
  background-position: -25px 0;
}
.header-links li:nth-child(3):before {
  background-position: -50px 0;
}
.header-links li:nth-child(4):before {
  background-position: -75px 0;
}
.header-links li:nth-child(5):before {
  background-position: -100px 0;
}
.header-links li:nth-child(6):before {
  background-position: -125px 0;
}
.header-links li a {
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.header-contacts {
  width: 205px;
  text-align: center;
}
.header-contacts a {
  display: inline-block;
  font-family: 'Exo2 Regular', sans-serif;
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 5px;
}
.header-contacts a span {
  font-family: inherit;
  font-size: inherit;
  color: #0b5c8e;
}
.header-contacts a:hover {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}
.header-contacts a:hover span {
  color: inherit;
}
.header-contacts .hours {
  font-size: 12px;
  line-height: 1.2;
}
.header-contacts .hours span {
  font-family: "PT Sans Bold", sans-serif;
  font-size: inherit;
  line-height: inherit;
}
.header-contacts .callback {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #0b5c8e;
  cursor: pointer;
  margin: 15px 0 10px;
}
.header-contacts .callback:hover {
  text-decoration: none;
}
.header-contacts .callback:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url(../source/images/phone-icon.png);
  margin-right: 8px;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.header-contacts .callback:hover:before {
  margin-right: 4px;
}
header[role='banner'].fixed {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #fff;
  padding: 20px 0;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}
header[role='banner'].fixed .logo-header,
header[role='banner'].fixed .header-promo,
header[role='banner'].fixed .header-links li {
  display: none;
}
header[role='banner'].fixed .logo-header-small {
  display: block;
  width: 55px;
}
header[role='banner'].fixed .header-links {
  width: auto;
}
header[role='banner'].fixed .header-links .calculator-link {
  display: block;
}
header[role='banner'].fixed .header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  text-align: left;
}
header[role='banner'].fixed .header-contacts a {
  display: block;
  white-space: nowrap;
}
header[role='banner'].fixed .header-contacts .hours {
  display: block;
  width: 200px;
  margin: 0 20px 0 30px;
}
header[role='banner'].fixed .header-contacts .callback {
  white-space: nowrap;
  margin-right: 7.5%;
}
/***********************************************************************************************************************
************ footer
***********************************************************************************************************************/
footer[role='contentinfo'] {
  display: block;
  width: 100%;
  height: 240px;
  z-index: 1;
  background: #2a393e;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 50px;
}
footer[role='contentinfo']:before {
  content: '';
  display: block;
  width: 100%;
  height: 89px;
  background: transparent url(../source/images/background-footer.png) repeat-x;
  position: absolute;
  left: 0;
  top: -87px;
}
footer[role='contentinfo'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer[role='contentinfo'] .wrapper-inner:after {
  display: none;
}
.logo-footer {
  white-space: nowrap;
}
.logo-footer a {
  display: inline-block;
  width: 97px;
  vertical-align: middle;
}
.logo-footer a:hover {
  opacity: .7;
}
.logo-footer div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
}
.logo-footer div span {
  display: block;
  color: #fff;
  margin: 5px 0;
}
.logo-footer div span:first-of-type {
  font-family: "PT Sans Bold", sans-serif;
}
.footer-contacts a {
  font-family: 'Exo2 Regular', sans-serif;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
.footer-contacts span {
  display: block;
  color: #fff;
  font-size: 12px;
  margin: 5px 0;
}
.social-links li {
  display: inline-block;
  vertical-align: middle;
}
.social-links li a {
  display: block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 28px;
  color: #fff;
  text-align: center;
  border: 2px solid transparent;
}
.social-links li a i {
  font-size: inherit;
  color: inherit;
  line-height: 46px;
}
.social-links li a:hover {
  color: #ff6926;
  border: 2px solid #ff6926;
}
.social-links li a:active {
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
