/***********************************************************************************************************************
************ fonts
***********************************************************************************************************************/
@font-face {
  font-family: 'Exo2 Regular';
  src: url("../source/fonts/exo2.woff") format("woff"), url("../source/fonts/exo2.ttf") format("truetype"), url("../source/fonts/exo2.woff2") format("woff2");
}
@font-face {
  font-family: 'Exo2 Bold';
  src: url("../source/fonts/exo2bold.woff") format("woff"), url("../source/fonts/exo2bold.ttf") format("truetype"), url("../source/fonts/exo2bold.woff2") format("woff2");
}
@font-face {
  font-family: 'PT Sans Regular';
  src: url("../source/fonts/ptsans.woff") format("woff"), url("../source/fonts/ptsans.ttf") format("truetype"), url("../source/fonts/ptsans.woff2") format("woff2");
}
@font-face {
  font-family: 'PT Sans Bold';
  src: url("../source/fonts/ptsansbold.woff") format("woff"), url("../source/fonts/ptsansbold.ttf") format("truetype"), url("../source/fonts/ptsansbold.woff2") format("woff2");
}
@font-face {
  font-family: 'PT Sans Italic';
  src: url("../source/fonts/ptsansitalic.woff") format("woff"), url("../source/fonts/ptsansitalic.ttf") format("truetype"), url("../source/fonts/ptsansitalic.woff2") format("woff2");
}
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "PT Sans Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
}
a {
  color: #0b5c8e;
}
a:hover {
  text-decoration: none;
}
a,
button {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border: none;
  cursor: pointer;
}
a:focus,
button:focus {
  outline: none;
}
.wrapper {
  display: block;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  background: #f3f3f3;
  min-height: 100vh;
  padding-bottom: 370px;
}
.wrapper-inner {
  display: block;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}
.wrapper-inner:after {
  content: '';
  display: block;
  clear: both;
}
@media (max-width: 1260px) {
  .wrapper-inner {
    padding: 0 10px;
  }
}
.custom-button {
  display: block;
  width: 205px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  background: url(../source/images/decor-button-left.png) no-repeat left center, url(../source/images/decor-button-right.png) no-repeat right center, url(../source/images/background-button.jpg) no-repeat;
  background-size: auto, auto, cover;
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
.custom-button:hover {
  background: url(../source/images/decor-button-left.png) no-repeat -10px center, url(../source/images/decor-button-right.png) no-repeat calc(100% + 10px) center, url(../source/images/background-button.jpg) no-repeat;
  -webkit-box-shadow: 0 0 15px 0 rgba(255, 80, 14, 0.5);
  -moz-box-shadow: 0 0 15px 0 rgba(255, 80, 14, 0.5);
  box-shadow: 0 0 15px 0 rgba(255, 80, 14, 0.5);
}
.custom-button:active {
  line-height: 50px;
}
.image-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}
.image-wrap img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}
.slider-wrap {
  opacity: 0;
  position: relative;
}
.slider-wrap .fa-chevron-left,
.slider-wrap .fa-chevron-right {
  display: block;
  width: 35px;
  height: 60px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 60px;
  font-size: 50px;
  color: #cecece;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  cursor: pointer;
}
.slider-wrap .fa-chevron-left:hover,
.slider-wrap .fa-chevron-right:hover {
  color: #ff6926;
}
.slider-wrap .fa-chevron-left {
  left: -65px;
}
.slider-wrap .fa-chevron-left:active {
  left: -70px;
}
.slider-wrap .fa-chevron-right {
  left: calc(100% + 30px);
}
.slider-wrap .fa-chevron-right:active {
  left: calc(100% + 35px);
}
.top-arrow {
  position: fixed;
  left: calc(50% + 665px);
  bottom: 320px;
  text-align: center;
  cursor: pointer;
  transition: .4s;
}
.top-arrow .fa {
  display: block;
  font-size: 52px;
  color: #cbcbcb;
}
.top-arrow span {
  font-family: "PT Sans Bold", sans-serif;
  text-decoration: underline;
  color: #0b5c8e;
}
.top-arrow:hover .fa {
  color: #0b5c8e;
}
.top-arrow:hover span {
  text-decoration: none;
}
h2 {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  color: #0b5c8e;
  text-transform: uppercase;
}
p {
  font-size: 16px;
  padding: 10px 0;
  line-height: 1.4;
  hyphens: auto;
}
/***********************************************************************************************************************
************ header
***********************************************************************************************************************/
header[role='banner'] {
  background: #fff url(../source/images/background-header.png) repeat-x left bottom;
  padding: 30px 0 90px;
}
header[role='banner'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header[role='banner'] .wrapper-inner:after {
  display: none;
}
.logo-header {
  display: block;
  width: 226px;
}
.logo-header:hover {
  opacity: .7;
}
.logo-header-small {
  display: none;
}
.header-promo span {
  font-family: "PT Sans Bold", sans-serif;
}
.header-promo span a {
  font-family: inherit;
}
.header-promo ul {
  display: block;
  margin-top: 5px;
}
.header-promo ul li {
  display: block;
  position: relative;
  padding-left: 30px;
}
.header-promo ul li:before {
  -webkit-transform: skew(60deg) rotate(60deg);
  -moz-transform: skew(60deg) rotate(60deg);
  -ms-transform: skew(60deg) rotate(60deg);
  -o-transform: skew(60deg) rotate(60deg);
  transform: skew(60deg) rotate(60deg);
  content: '';
  display: block;
  height: 8px;
  width: 5px;
  background: #ff6926;
  position: absolute;
  top: 4px;
  left: 14px;
}
.header-links {
  display: block;
  width: 360px;
}
.header-links li {
  display: block;
  width: 50%;
  float: left;
  padding-left: 40px;
  position: relative;
  margin: 10px 0;
}
.header-links li:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: transparent url(../source/images/sprite-header.png) no-repeat left top;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.header-links li:hover:before {
  left: 5px;
}
.header-links li:nth-child(2):before {
  background-position: -25px 0;
}
.header-links li:nth-child(3):before {
  background-position: -50px 0;
}
.header-links li:nth-child(4):before {
  background-position: -75px 0;
}
.header-links li:nth-child(5):before {
  background-position: -100px 0;
}
.header-links li:nth-child(6):before {
  background-position: -125px 0;
}
.header-links li a {
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.header-contacts {
  width: 205px;
  text-align: center;
}
.header-contacts a {
  display: inline-block;
  font-family: 'Exo2 Regular', sans-serif;
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 5px;
}
.header-contacts a span {
  font-family: inherit;
  font-size: inherit;
  color: #0b5c8e;
}
.header-contacts a:hover {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}
.header-contacts a:hover span {
  color: inherit;
}
.header-contacts .hours {
  font-size: 12px;
  line-height: 1.2;
}
.header-contacts .hours span {
  font-family: "PT Sans Bold", sans-serif;
  font-size: inherit;
  line-height: inherit;
}
.header-contacts .callback {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #0b5c8e;
  cursor: pointer;
  margin: 15px 0 10px;
}
.header-contacts .callback:hover {
  text-decoration: none;
}
.header-contacts .callback:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url(../source/images/icon-phone.png);
  margin-right: 8px;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.header-contacts .callback:hover:before {
  margin-right: 4px;
}
header[role='banner'].fixed {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #fff;
  padding: 20px 0;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}
header[role='banner'].fixed .logo-header,
header[role='banner'].fixed .header-promo,
header[role='banner'].fixed .header-links li {
  display: none;
}
header[role='banner'].fixed .logo-header-small {
  display: block;
  width: 55px;
}
header[role='banner'].fixed .header-links {
  width: auto;
}
header[role='banner'].fixed .header-links .calculator-link {
  display: block;
}
header[role='banner'].fixed .header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  text-align: left;
}
header[role='banner'].fixed .header-contacts a {
  display: block;
  white-space: nowrap;
}
header[role='banner'].fixed .header-contacts .hours {
  display: block;
  width: 200px;
  margin: 0 20px 0 30px;
}
header[role='banner'].fixed .header-contacts .callback {
  white-space: nowrap;
  margin-right: 7.5%;
}
/***********************************************************************************************************************
************ footer
***********************************************************************************************************************/
footer[role='contentinfo'] {
  display: block;
  width: 100%;
  height: 240px;
  z-index: 1;
  background: #2a393e;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 50px;
}
footer[role='contentinfo']:before {
  content: '';
  display: block;
  width: 100%;
  height: 89px;
  background: transparent url(../source/images/background-footer.png) repeat-x;
  position: absolute;
  left: 0;
  top: -87px;
}
footer[role='contentinfo'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer[role='contentinfo'] .wrapper-inner:after {
  display: none;
}
.logo-footer {
  white-space: nowrap;
}
.logo-footer a {
  display: inline-block;
  width: 97px;
  vertical-align: middle;
}
.logo-footer a:hover {
  opacity: .7;
}
.logo-footer div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
}
.logo-footer div span {
  display: block;
  color: #fff;
  margin: 5px 0;
}
.logo-footer div span:first-of-type {
  font-family: "PT Sans Bold", sans-serif;
}
.footer-contacts a {
  font-family: 'Exo2 Regular', sans-serif;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
.footer-contacts span {
  display: block;
  color: #fff;
  font-size: 12px;
  margin: 5px 0;
}
.social-links li {
  display: inline-block;
  vertical-align: middle;
}
.social-links li a {
  display: block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 28px;
  color: #fff;
  text-align: center;
  border: 2px solid transparent;
}
.social-links li a i {
  font-size: inherit;
  color: inherit;
  line-height: 46px;
}
.social-links li a:hover {
  color: #ff6926;
  border: 2px solid #ff6926;
}
.social-links li a:active {
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}
/***********************************************************************************************************************
************ slider-top
***********************************************************************************************************************/
.slider-top {
  margin: 30px 0 40px;
}
.slider-top .slider-wrap {
  padding: 7px;
  background: #fff;
  -webkit-box-shadow: 0 -80px 75px -110px rgba(0, 0, 0, 0.5), 0 80px 75px -110px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -80px 75px -110px rgba(0, 0, 0, 0.5), 0 80px 75px -110px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -80px 75px -110px rgba(0, 0, 0, 0.5), 0 80px 75px -110px rgba(0, 0, 0, 0.5);
}
.slider-top .slide {
  display: block;
  width: 100%;
  position: relative;
}
.slider-top .slide .slide-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 30px 60px 40px;
}
.slider-top .slide .slide-info .title {
  font-family: 'Exo2 Regular', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  line-height: 1;
}
.slider-top .slide .slide-info .title span {
  display: block;
  font-family: 'Exo2 Bold', sans-serif;
  color: inherit;
  font-size: inherit;
  line-height: 1.1;
}
.slider-top .slide .slide-info .sub-title {
  font-size: 25px;
  text-transform: lowercase;
  color: #fd9e6d;
  margin-top: 10px;
}
.slider-top .slide .slide-info a {
  position: absolute;
  left: 60px;
  bottom: 40px;
}
.slider-top .slick-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 35px;
  top: 0;
  bottom: 0;
}
.slider-top .slick-dots li {
  display: block;
  margin: 2px 0;
}
.slider-top .slick-dots li button {
  -webkit-transform: skew(60deg) rotate(60deg);
  -moz-transform: skew(60deg) rotate(60deg);
  -ms-transform: skew(60deg) rotate(60deg);
  -o-transform: skew(60deg) rotate(60deg);
  transform: skew(60deg) rotate(60deg);
  display: block;
  width: 10px;
  height: 15px;
  background: #fff;
  font-size: 0;
  color: transparent;
}
.slider-top .slick-dots li button:hover {
  background: #ff6926;
}
.slider-top .slick-dots li.slick-active button {
  background: #ff6926;
}
/***********************************************************************************************************************
************ advantages
***********************************************************************************************************************/
.advantages {
  background: url(../source/images/background-advantages.jpg);
  background-size: cover;
  margin-bottom: 40px;
}
.advantages ul {
  padding: 45px 0 35px;
}
.advantages ul:after {
  content: '';
  display: block;
  clear: both;
}
.advantages ul li {
  display: block;
  width: 25%;
  float: left;
  text-align: center;
  position: relative;
}
.advantages ul li:before {
  content: '';
  display: block;
  margin: 0 auto 20px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ff6926 url(../source/images/sprite-advantages.png);
}
.advantages ul li:after {
  content: '';
  display: block;
  width: 175px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 40px;
  left: 71%;
}
.advantages ul li:nth-child(2):before {
  background-position: -80px 0;
}
.advantages ul li:nth-child(3):before {
  background-position: -160px 0;
}
.advantages ul li:nth-child(4):before {
  background-position: -240px 0;
}
.advantages ul li:last-child:after {
  display: none;
}
.advantages ul li .title {
  font-family: "PT Sans Bold", sans-serif;
  color: #75c4f5;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages ul li .text {
  color: #fff;
  font-size: 15px;
}
.advantages ul li .text:after {
  content: '';
  display: block;
  width: 8px;
  height: 25px;
  background: url(../source/images/decor-advantages.png);
  margin: 15px auto 0;
}
/***********************************************************************************************************************
************ services
***********************************************************************************************************************/
.services {
  margin-bottom: 40px;
}
.services ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.services ul li {
  display: block;
  text-align: center;
}
.services ul li .image-wrap {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 129px;
  height: 129px;
}
.services ul li .title {
  display: inline-block;
  font-family: 'Exo2 Bold', sans-serif;
  color: #0b5c8e;
  text-transform: uppercase;
  margin: 15px 0 10px;
}
.services ul li .service-cost {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #ff6926;
  position: relative;
}
.services ul li .service-cost:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 5px solid #ff6926;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
}
/***********************************************************************************************************************
************ seo
***********************************************************************************************************************/
.seo {
  background: #fff url(../source/images/background-seo.png) no-repeat right bottom;
  padding: 35px 40px;
  margin-bottom: 40px;
}
.seo ul {
  display: block;
  max-width: 700px;
  margin: 20px 0;
}
.seo ul:after {
  content: '';
  display: block;
  clear: both;
}
.seo ul li {
  display: block;
  float: left;
  width: 50%;
  padding-left: 60px;
  position: relative;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 17px;
  margin-bottom: 25px;
}
.seo ul li .fa {
  display: block;
  width: 25px;
  height: 25px;
  border: 2px solid #0b5c8e;
  color: #0b5c8e;
  line-height: 21px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  left: 20px;
  top: 0;
}
.seo ul li span {
  display: block;
  font-size: 15px;
  margin-top: 5px;
}
.seo .note {
  display: inline-block;
  vertical-align: top;
  font-family: "PT Sans Italic", sans-serif;
  max-width: 450px;
  margin-right: 20px;
}
.seo button {
  display: inline-block;
}
/***********************************************************************************************************************
************ prices
***********************************************************************************************************************/
.prices {
  background: #809fb1;
  padding: 35px 40px 0 40px;
  position: relative;
  margin-bottom: 40px;
}
.prices h2 {
  color: #fff;
}
.prices .all-prices {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 17px;
  color: #fff;
  position: absolute;
  top: 37px;
  right: 40px;
  padding-left: 35px;
}
.prices .all-prices:before {
  content: '';
  display: block;
  width: 21px;
  height: 21px;
  background: url(../source/images/icon-prices.png);
  position: absolute;
  left: 0;
  top: 0;
}
.prices .items {
  display: block;
  margin-top: 30px;
}
.prices .items:after {
  content: '';
  display: block;
  clear: both;
}
.prices .items .item {
  display: block;
  width: 22.75%;
  margin: 0 3% 0 0;
  float: left;
  background: #fff;
  padding: 10px;
}
.prices .items .item:last-of-type {
  margin-right: 0;
}
.prices .image-wrap {
  width: 100%;
  padding-top: calc(100% - 20px);
  border: 10px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #c6c6c6;
  -moz-box-shadow: 0 0 0 1px #c6c6c6;
  box-shadow: 0 0 0 1px #c6c6c6;
}
.prices .title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 15px;
  color: #0b5c8e;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}
.prices .title:after {
  content: '';
  display: block;
  width: 25px;
  height: 8px;
  background: url(../source/images/decor-prices.png);
  margin: 10px auto 15px;
}
.prices .price-value {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 17px;
  text-align: center;
  margin-bottom: 15px;
}
.prices ul {
  border-top: 1px dotted #000;
  padding: 15px 0;
}
.prices ul li {
  display: block;
  line-height: 1;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
}
.prices ul li:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: '';
  display: block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  background: #ff6926;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 25px;
}
.prices ul li:last-child {
  margin-bottom: 0;
}
.prices .show-portfolio,
.prices .show-cost {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 46px;
  border: 2px solid #2a393e;
  background: #2a393e;
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.prices .show-portfolio:hover,
.prices .show-cost:hover {
  background: #fff;
  color: #2a393e;
}
.prices .show-portfolio:active,
.prices .show-cost:active {
  line-height: 50px;
}
.prices .show-cost {
  border: 2px solid #ff6926;
  background: #ff6926;
  margin-top: 10px;
}
.prices .show-cost:hover {
  color: #ff6926;
}
.prices p {
  color: #fff;
  font-size: 15px;
  margin: 20px 0;
  line-height: 1.5;
}
.prices .prices-links {
  display: block;
  width: calc(100% + 80px);
  background: url(../source/images/background-prices-links.jpg);
  background-size: cover;
  text-align: center;
  margin: 0 -40px;
  padding: 40px 0;
}
.prices .prices-links a {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 17px;
  margin-right: 30px;
}
.prices .prices-links a:last-of-type {
  margin-right: 0;
}
.prices .prices-links a:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 21px;
  margin-right: 10px;
  background: url(../source/images/sprite-prices-links.png);
  background-size: cover;
}
.prices .prices-links a:nth-of-type(2):before {
  background-position: -25px 0;
}
.prices .prices-links a:nth-of-type(3):before {
  background-position: -50px 0;
}
.prices .prices-links a:nth-of-type(4):before {
  background-position: -75px 0;
}
/***********************************************************************************************************************
************ calculator
***********************************************************************************************************************/
.calculator {
  margin-bottom: 40px;
}
.calculator .text {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  color: #0b5c8e;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.calculator .slider-wrap {
  padding: 50px;
  background: #fff;
}
.calculator .slide {
  white-space: nowrap;
  margin: 0 0 0 40px;
}
.calculator .image-wrap {
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 129px;
  height: 129px;
  border: 1px solid #dedede;
  margin-right: 25px;
}
.calculator .data {
  display: inline-block;
  vertical-align: middle;
}
.calculator .data .title {
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 17px;
}
.calculator .data .current-price {
  display: inline-block;
  vertical-align: middle;
  color: #ff6926;
  font-family: "PT Sans Bold", sans-serif;
  margin-right: 10px;
}
.calculator .data .old-prices {
  display: inline-block;
  vertical-align: middle;
  text-decoration: line-through;
}
.calculator .calculator-footer {
  background: url(../source/images/background-calculator-footer.jpg) left top;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
  position: relative;
  border: 10px solid #fff;
  margin-bottom: 20px;
}
.calculator .calculator-footer .text {
  display: inline-block;
  text-align: left;
  margin: 0;
  padding-left: 110px;
  position: relative;
}
.calculator .calculator-footer .text:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  background: #fff url(../source/images/icon-calculator.png) no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
}
.calculator .calculator-footer h2 {
  color: #6ed0ff;
  margin-bottom: 5px;
}
.calculator .calculator-footer span {
  text-transform: none;
  font-size: 18px;
  color: #fff;
  line-height: 1;
}
.calculator button {
  position: absolute;
  margin: auto;
  right: 55px;
  top: 0;
  bottom: 0;
}
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
/***********************************************************************************************************************
************ seo-text
***********************************************************************************************************************/
.seo-text {
  padding: 40px 0 0;
}
.seo-text p {
  font-size: 14px;
}
/***********************************************************************************************************************
************ modals
***********************************************************************************************************************/
.window {
  display: none;
}
