/***********************************************************************************************************************
************ fonts
***********************************************************************************************************************/
@font-face {
  font-family: 'Exo2 Regular';
  src: url("../source/fonts/exo2.woff") format("woff"), url("../source/fonts/exo2.ttf") format("truetype"), url("../source/fonts/exo2.woff2") format("woff2");
}
@font-face {
  font-family: 'Exo2 Bold';
  src: url("../source/fonts/exo2bold.woff") format("woff"), url("../source/fonts/exo2bold.ttf") format("truetype"), url("../source/fonts/exo2bold.woff2") format("woff2");
}
@font-face {
  font-family: 'PT Sans Regular';
  src: url("../source/fonts/ptsans.woff") format("woff"), url("../source/fonts/ptsans.ttf") format("truetype"), url("../source/fonts/ptsans.woff2") format("woff2");
}
@font-face {
  font-family: 'PT Sans Bold';
  src: url("../source/fonts/ptsansbold.woff") format("woff"), url("../source/fonts/ptsansbold.ttf") format("truetype"), url("../source/fonts/ptsansbold.woff2") format("woff2");
}
@font-face {
  font-family: 'PT Sans Italic';
  src: url("../source/fonts/ptsansitalic.woff") format("woff"), url("../source/fonts/ptsansitalic.ttf") format("truetype"), url("../source/fonts/ptsansitalic.woff2") format("woff2");
}
/***********************************************************************************************************************
************ general
***********************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "PT Sans Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
}
a {
  color: #0b5c8e;
}
a:hover {
  text-decoration: none;
}
a,
button {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border: none;
  cursor: pointer;
}
a:focus,
button:focus,
input:focus {
  outline: none;
}
.wrapper {
  display: block;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  background: #f3f3f3;
  min-height: 100vh;
  padding-bottom: 370px;
  opacity: 0;
}
@media (max-width: 768px) {
  .wrapper {
    padding-bottom: 0;
  }
}
.wrapper-inner {
  display: block;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}
.wrapper-inner:after {
  content: '';
  display: block;
  clear: both;
}
@media (max-width: 1260px) {
  .wrapper-inner {
    padding: 0 15px;
  }
}
@media (max-width: 480px) {
  .wrapper-inner {
    padding: 0 10px;
  }
}
.custom-button {
  display: block;
  width: 205px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  background: url(../source/images/decor-button-left.png) no-repeat left center, url(../source/images/decor-button-right.png) no-repeat right center, url(../source/images/background-button.jpg) no-repeat;
  background-size: auto, auto, cover;
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
.custom-button:hover {
  background: url(../source/images/decor-button-left.png) no-repeat -10px center, url(../source/images/decor-button-right.png) no-repeat calc(100% + 10px) center, url(../source/images/background-button.jpg) no-repeat;
  background-size: auto, auto, cover;
  -webkit-box-shadow: 0 0 15px 0 rgba(255, 80, 14, 0.5);
  -moz-box-shadow: 0 0 15px 0 rgba(255, 80, 14, 0.5);
  box-shadow: 0 0 15px 0 rgba(255, 80, 14, 0.5);
}
.custom-button:active {
  line-height: 50px;
}
@media (max-width: 640px) {
  .custom-button {
    width: 150px;
    height: 35px;
    line-height: 35px;
    font-size: 10px;
  }
}
.image-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}
.image-wrap img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}
.slider-wrap {
  position: relative;
}
.slider-wrap .fa-chevron-left,
.slider-wrap .fa-chevron-right {
  display: block;
  width: 35px;
  height: 60px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 60px;
  font-size: 50px;
  color: #cecece;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  cursor: pointer;
}
.slider-wrap .fa-chevron-left:hover,
.slider-wrap .fa-chevron-right:hover {
  color: #ff6926;
}
.slider-wrap .fa-chevron-left:focus,
.slider-wrap .fa-chevron-right:focus {
  outline: none;
}
.slider-wrap .fa-chevron-left {
  left: -65px;
}
.slider-wrap .fa-chevron-left:active {
  left: -70px;
}
.slider-wrap .fa-chevron-right {
  left: calc(100% + 30px);
}
.slider-wrap .fa-chevron-right:active {
  left: calc(100% + 35px);
}
@media (max-width: 1366px) {
  .slider-wrap .fa-chevron-left {
    left: 10px;
  }
  .slider-wrap .fa-chevron-left:active {
    left: 5px;
  }
  .slider-wrap .fa-chevron-right {
    left: auto;
    right: 10px;
  }
  .slider-wrap .fa-chevron-right:active {
    left: auto;
    right: 5px;
  }
}
.slide:focus {
  outline: none;
}
.top-arrow {
  position: fixed;
  left: calc(50% + 700px);
  bottom: 320px;
  text-align: center;
  cursor: pointer;
  transition: .4s;
}
.top-arrow .fa {
  display: block;
  font-size: 52px;
  color: #cbcbcb;
}
.top-arrow span {
  font-family: "PT Sans Bold", sans-serif;
  text-decoration: underline;
  color: #0b5c8e;
}
.top-arrow:hover .fa {
  color: #0b5c8e;
}
.top-arrow:hover span {
  text-decoration: none;
}
input::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
}
input::-moz-placeholder {
  color: #000;
  font-size: 14px;
}
input:-moz-placeholder {
  color: #000;
  font-size: 14px;
}
input:-ms-input-placeholder {
  color: #000;
  font-size: 14px;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
}
textarea::-moz-placeholder {
  color: #000;
  font-size: 14px;
}
textarea:-moz-placeholder {
  color: #000;
  font-size: 14px;
}
textarea:-ms-input-placeholder {
  color: #000;
  font-size: 14px;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
h2 {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  color: #0b5c8e;
  text-transform: uppercase;
}
p {
  font-size: 16px;
  padding: 10px 0;
  line-height: 1.4;
  hyphens: auto;
}
img {
  display: block;
  width: 100%;
}
/***********************************************************************************************************************
************ header
***********************************************************************************************************************/
.mobile-nav {
  display: none;
}
@media (max-width: 768px) {
  .mobile-nav {
    display: block;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 150%;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    background: #fff;
    z-index: 1000;
    overflow: auto;
    padding-top: 50px;
  }
  .mobile-nav.active {
    top: 0;
  }
  .mobile-nav .fa-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 36px;
    color: #0b5c8e;
  }
}
.mobile-nav .hours {
  margin: 10px 0;
}
.mobile-nav .header-links {
  width: 100%;
}
.mobile-nav .header-links li {
  float: none;
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
.mobile-nav .header-links li:before {
  display: none;
}
.mobile-nav .callback {
  margin: 0;
}
header[role='banner'] {
  background: #fff url(../source/images/background-header.png) repeat-x left bottom;
  padding: 30px 0 90px;
}
header[role='banner'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header[role='banner'] .wrapper-inner:after {
  display: none;
}
.logo-header {
  display: block;
  width: 226px;
}
.logo-header:hover {
  opacity: .7;
}
@media (max-width: 1230px) {
  .logo-header {
    width: 180px;
  }
}
.logo-header-small {
  display: none;
}
.header-promo span {
  font-family: "PT Sans Bold", sans-serif;
}
.header-promo span a {
  font-family: inherit;
}
.header-promo ul {
  display: block;
  margin-top: 5px;
}
.header-promo ul li {
  display: block;
  position: relative;
  padding-left: 30px;
}
.header-promo ul li:before {
  -webkit-transform: skew(60deg) rotate(60deg);
  -moz-transform: skew(60deg) rotate(60deg);
  -ms-transform: skew(60deg) rotate(60deg);
  -o-transform: skew(60deg) rotate(60deg);
  transform: skew(60deg) rotate(60deg);
  content: '';
  display: block;
  height: 8px;
  width: 5px;
  background: #ff6926;
  position: absolute;
  top: 4px;
  left: 14px;
}
.header-links {
  display: block;
  width: 360px;
}
.header-links li {
  display: block;
  width: 50%;
  float: left;
  padding-left: 40px;
  position: relative;
  margin: 10px 0;
}
.header-links li:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: transparent url(../source/images/sprite-header.png) no-repeat left top;
  background-size: cover;
  position: absolute;
  top: -3px;
  left: 0;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.header-links li:hover:before {
  left: 5px;
}
.header-links li:nth-child(2):before {
  background-position: -25px 0;
}
.header-links li:nth-child(3):before {
  background-position: -50px 0;
}
.header-links li:nth-child(4):before {
  background-position: -75px 0;
}
.header-links li:nth-child(5):before {
  background-position: -100px 0;
}
.header-links li:nth-child(6):before {
  background-position: -125px 0;
}
.header-links li a {
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.header-contacts {
  width: 205px;
  text-align: center;
}
.header-contacts a {
  display: inline-block;
  font-family: 'Exo2 Regular', sans-serif;
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 5px;
}
.header-contacts a span {
  font-family: inherit;
  font-size: inherit;
  color: #0b5c8e;
}
.header-contacts a:hover {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}
.header-contacts a:hover span {
  color: inherit;
}
.header-contacts .hours {
  font-size: 12px;
  line-height: 1.2;
}
.header-contacts .hours span {
  font-family: "PT Sans Bold", sans-serif;
  font-size: inherit;
  line-height: inherit;
}
.header-contacts button:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.callback {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #0b5c8e;
  cursor: pointer;
  margin: 15px 0 10px;
}
.callback:hover {
  text-decoration: none;
}
.callback:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url(../source/images/icon-phone.png);
  margin-right: 8px;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.burger {
  display: none;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
  .burger .fa {
    font-size: 36px;
    color: #0b5c8e;
  }
  .burger .fa-close {
    display: none;
  }
}
header[role='banner'].fixed {
  width: 100%;
  position: fixed;
  left: 0;
  top: -300px;
  z-index: 999;
  background: #fff;
  padding: 20px 0;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width: 1230px) {
  header[role='banner'].fixed {
    padding: 10px 0;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
}
header[role='banner'].fixed + .wrapper-inner {
  margin-top: 273px;
}
@media (max-width: 1230px) {
  header[role='banner'].fixed + .wrapper-inner {
    margin-top: 100px;
  }
}
header[role='banner'].fixed .logo-header,
header[role='banner'].fixed .header-promo,
header[role='banner'].fixed .header-links li {
  display: none;
}
header[role='banner'].fixed .logo-header-small {
  display: block;
  width: 55px;
}
header[role='banner'].fixed .header-links {
  width: auto;
}
header[role='banner'].fixed .header-links .calculator-link {
  display: block;
}
header[role='banner'].fixed .header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  text-align: left;
}
header[role='banner'].fixed .header-contacts a {
  display: block;
  white-space: nowrap;
  margin: 0 30px 0 0;
}
@media (max-width: 1230px) {
  header[role='banner'].fixed .header-contacts a {
    font-size: 20px;
  }
}
@media (max-width: 980px) {
  header[role='banner'].fixed .header-contacts a {
    font-size: 16px;
    margin: 0 20px 0 0;
  }
}
header[role='banner'].fixed .header-contacts .hours {
  display: block;
  width: 200px;
  margin: 0 20px 0 30px;
}
@media (max-width: 1230px) {
  header[role='banner'].fixed .header-contacts .hours {
    display: none;
  }
}
header[role='banner'].fixed .header-contacts .callback {
  white-space: nowrap;
  margin-right: 7.5%;
}
@media (max-width: 1230px) {
  header[role='banner'].fixed .header-contacts .callback {
    margin: 0 25px;
  }
}
@media (max-width: 980px) {
  header[role='banner'].fixed .header-contacts .callback {
    margin: 0 15px;
  }
}
@media (max-width: 768px) {
  header[role='banner'].fixed .header-contacts a {
    line-height: 76px;
    position: absolute;
    top: 0;
    right: 50px;
  }
}
@media (max-width: 640px) {
  header[role='banner'].fixed .header-contacts {
    justify-content: center;
    width: calc(100% - 150px);
    padding-right: 160px;
  }
  header[role='banner'].fixed .header-contacts a {
    line-height: 76px;
  }
}
@media (max-width: 480px) {
  header[role='banner'].fixed .header-contacts {
    display: block;
    width: auto;
    padding: 0 0 0 30px;
  }
  header[role='banner'].fixed .header-contacts a {
    position: static;
    display: block;
    font-size: 14px;
    float: none;
    line-height: 1;
    margin-bottom: 5px;
  }
  header[role='banner'].fixed .header-contacts .custom-button {
    display: block;
    float: none;
    font-size: 13px;
    border: none;
    width: auto;
    height: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #000;
    white-space: nowrap;
    line-height: 1;
    background: none;
    text-decoration: underline;
  }
  header[role='banner'].fixed .header-contacts .custom-button:hover {
    text-decoration: none;
  }
}
/***********************************************************************************************************************
************ footer
***********************************************************************************************************************/
footer[role='contentinfo'] {
  display: block;
  width: 100%;
  height: 240px;
  z-index: 1;
  background: #2a393e;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 50px;
}
@media (max-width: 1230px) {
  footer[role='contentinfo'] {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  footer[role='contentinfo'] {
    height: auto;
    padding: 20px 0 40px;
    position: relative;
    left: auto;
    bottom: auto;
    margin-top: 100px;
  }
}
footer[role='contentinfo']:before {
  content: '';
  display: block;
  width: 100%;
  height: 89px;
  background: transparent url(../source/images/background-footer.png) repeat-x;
  position: absolute;
  left: 0;
  top: -87px;
}
footer[role='contentinfo'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer[role='contentinfo'] .wrapper-inner:after {
  display: none;
}
@media (max-width: 1230px) {
  footer[role='contentinfo'] .wrapper-inner {
    display: block;
    text-align: center;
  }
}
.logo-footer {
  white-space: nowrap;
}
.logo-footer a {
  display: inline-block;
  width: 97px;
  vertical-align: middle;
}
.logo-footer a:hover {
  opacity: .7;
}
.logo-footer div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
}
.logo-footer div span {
  display: block;
  color: #fff;
  margin: 5px 0;
}
.logo-footer div span:first-of-type {
  font-family: "PT Sans Bold", sans-serif;
}
@media (max-width: 480px) {
  .logo-footer {
    text-align: center;
    white-space: normal;
  }
  .logo-footer div {
    margin: 20px 0;
  }
}
.footer-contacts a {
  font-family: 'Exo2 Regular', sans-serif;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
.footer-contacts span {
  display: block;
  color: #fff;
  font-size: 12px;
  margin: 5px 0;
}
.social-links li {
  display: inline-block;
  vertical-align: middle;
}
.social-links li a {
  display: block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 28px;
  color: #fff;
  text-align: center;
  border: 2px solid transparent;
}
.social-links li a i {
  font-size: inherit;
  color: inherit;
  line-height: 46px;
}
.social-links li a:hover {
  color: #ff6926;
  border: 2px solid #ff6926;
}
.social-links li a:active {
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}
@media (max-width: 1230px) {
  .logo-footer,
  .footer-contacts,
  .social-links,
  footer .custom-button {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 20px;
  }
}
/***********************************************************************************************************************
************ slider-top
***********************************************************************************************************************/
.slider-top {
  margin: 30px 0 40px;
}
.slider-top .slider-wrap {
  padding: 7px;
  background: #fff;
  -webkit-box-shadow: 0 -80px 75px -110px rgba(0, 0, 0, 0.5), 0 80px 75px -110px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -80px 75px -110px rgba(0, 0, 0, 0.5), 0 80px 75px -110px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -80px 75px -110px rgba(0, 0, 0, 0.5), 0 80px 75px -110px rgba(0, 0, 0, 0.5);
}
.slider-top .slide {
  display: block;
  width: 100%;
  height: 260px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 640px) {
  .slider-top .slide {
    height: 230px;
  }
}
.slider-top .slide img {
  width: auto;
  height: 100%;
}
@media (max-width: 640px) {
  .slider-top .slide img {
    min-height: 100%;
  }
}
.slider-top .slide .slide-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 30px 60px 40px;
}
.slider-top .slide .slide-info .title {
  font-family: 'Exo2 Regular', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  line-height: 1;
}
.slider-top .slide .slide-info .title span {
  display: block;
  font-family: 'Exo2 Bold', sans-serif;
  color: inherit;
  font-size: inherit;
  line-height: 1.1;
}
.slider-top .slide .slide-info .sub-title {
  font-size: 25px;
  text-transform: lowercase;
  color: #fd9e6d;
  margin-top: 10px;
}
.slider-top .slide .slide-info a {
  position: absolute;
  left: 60px;
  bottom: 40px;
}
@media (max-width: 640px) {
  .slider-top .slide .slide-info {
    padding: 30px 30px 40px;
  }
  .slider-top .slide .slide-info .title {
    font-size: 20px;
  }
  .slider-top .slide .slide-info .sub-title {
    font-size: 18px;
  }
  .slider-top .slide .slide-info a {
    position: absolute;
    left: 30px;
  }
}
@media (max-width: 480px) {
  .slider-top .slide .slide-info {
    padding: 30px;
  }
  .slider-top .slide .slide-info a {
    bottom: 30px;
  }
}
.slider-top .slick-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 35px;
  top: 0;
  bottom: 0;
}
.slider-top .slick-dots li {
  display: block;
  margin: 2px 0;
}
.slider-top .slick-dots li button {
  -webkit-transform: skew(60deg) rotate(60deg);
  -moz-transform: skew(60deg) rotate(60deg);
  -ms-transform: skew(60deg) rotate(60deg);
  -o-transform: skew(60deg) rotate(60deg);
  transform: skew(60deg) rotate(60deg);
  display: block;
  width: 10px;
  height: 15px;
  background: #fff;
  font-size: 0;
  color: transparent;
}
.slider-top .slick-dots li button:hover {
  background: #ff6926;
}
.slider-top .slick-dots li.slick-active button {
  background: #ff6926;
}
@media (max-width: 480px) {
  .slider-top .slick-dots {
    top: auto;
    bottom: 20px;
  }
}
/***********************************************************************************************************************
************ advantages
***********************************************************************************************************************/
.advantages {
  background: url(../source/images/background-advantages.jpg);
  background-size: cover;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .advantages {
    background: #0b5c8e;
  }
}
.advantages ul {
  padding: 45px 0 35px;
}
.advantages ul:after {
  content: '';
  display: block;
  clear: both;
}
.advantages ul li {
  display: block;
  width: 25%;
  float: left;
  text-align: center;
  position: relative;
}
.advantages ul li:before {
  content: '';
  display: block;
  margin: 0 auto 20px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ff6926 url(../source/images/sprite-advantages.png);
}
.advantages ul li:after {
  content: '';
  display: block;
  width: 175px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 40px;
  left: 71%;
}
@media (max-width: 1230px) {
  .advantages ul li:after {
    display: none;
  }
}
.advantages ul li:nth-child(2):before {
  background-position: -80px 0;
}
.advantages ul li:nth-child(3):before {
  background-position: -160px 0;
}
.advantages ul li:nth-child(4):before {
  background-position: -240px 0;
}
.advantages ul li:last-child:after {
  display: none;
}
.advantages ul li .title {
  font-family: "PT Sans Bold", sans-serif;
  color: #75c4f5;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages ul li .text {
  color: #fff;
  font-size: 15px;
}
.advantages ul li .text:after {
  content: '';
  display: block;
  width: 8px;
  height: 25px;
  background: url(../source/images/decor-advantages.png);
  margin: 15px auto 0;
}
@media (max-width: 768px) {
  .advantages ul li {
    width: 50%;
    margin: 0 0 40px;
  }
}
@media (max-width: 480px) {
  .advantages ul li {
    width: 100%;
    margin: 0 0 40px;
  }
  .advantages ul li:last-child {
    margin-bottom: 0;
  }
}
/***********************************************************************************************************************
************ services
***********************************************************************************************************************/
.services {
  margin-bottom: 40px;
}
.services ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.services ul li {
  display: block;
  text-align: center;
}
.services ul li .image-wrap {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 129px;
  height: 129px;
}
.services ul li .title {
  display: inline-block;
  font-family: 'Exo2 Bold', sans-serif;
  color: #0b5c8e;
  text-transform: uppercase;
  margin: 15px 0 10px;
}
.services ul li .service-cost {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #ff6926;
  position: relative;
}
.services ul li .service-cost:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 5px solid #ff6926;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
}
@media (max-width: 1230px) {
  .services ul {
    display: block;
    text-align: center;
  }
  .services ul li {
    display: inline-block;
    vertical-align: top;
    width: 130px;
    margin: 20px;
  }
}
@media (max-width: 480px) {
  .services ul li {
    margin: 20px 5px;
  }
}
/***********************************************************************************************************************
************ seo
***********************************************************************************************************************/
.seo {
  background: #fff url(../source/images/background-seo.png) no-repeat right bottom;
  padding: 35px 40px;
  margin-bottom: 40px;
}
.seo ul {
  display: block;
  max-width: 700px;
  margin: 20px 0;
}
.seo ul:after {
  content: '';
  display: block;
  clear: both;
}
.seo ul li {
  display: block;
  float: left;
  width: 50%;
  padding-left: 60px;
  position: relative;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 17px;
  margin-bottom: 25px;
}
.seo ul li .fa {
  display: block;
  width: 25px;
  height: 25px;
  border: 2px solid #0b5c8e;
  color: #0b5c8e;
  line-height: 21px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  left: 20px;
  top: 0;
}
.seo ul li span {
  display: block;
  font-size: 15px;
  margin-top: 5px;
}
.seo .note {
  display: inline-block;
  vertical-align: top;
  font-family: "PT Sans Italic", sans-serif;
  max-width: 450px;
  margin-right: 20px;
}
.seo .custom-button {
  display: inline-block;
}
.seo .custom-button:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 1230px) {
  .seo {
    background: #fff;
  }
}
@media (max-width: 980px) {
  .seo .note,
  .seo button {
    margin: 20px 20px 20px 0;
  }
}
@media (max-width: 768px) {
  .seo {
    padding: 35px 20px;
  }
  .seo .note {
    margin: 0;
  }
  .seo button {
    margin-bottom: 0;
  }
  .seo ul li {
    width: 100%;
    margin-right: 0;
    padding-left: 40px;
  }
  .seo ul li:last-child {
    margin-bottom: 0;
  }
  .seo ul li .fa {
    left: 0;
  }
}
/***********************************************************************************************************************
************ prices
***********************************************************************************************************************/
.prices {
  background: #809fb1;
  padding: 35px 40px 0 40px;
  position: relative;
  margin-bottom: 40px;
}
.prices h2 {
  color: #fff;
}
.prices .all-prices {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 17px;
  color: #fff;
  position: absolute;
  top: 37px;
  right: 40px;
  padding-left: 35px;
}
.prices .all-prices:before {
  content: '';
  display: block;
  width: 21px;
  height: 21px;
  background: url(../source/images/icon-prices.png);
  position: absolute;
  left: 0;
  top: 0;
}
.prices .items {
  display: block;
  margin-top: 30px;
}
.prices .items:after {
  content: '';
  display: block;
  clear: both;
}
.prices .items .item {
  display: block;
  width: 22.75%;
  margin: 0 3% 0 0;
  float: left;
  background: #fff;
  padding: 10px;
}
.prices .items .item:last-of-type {
  margin-right: 0;
}
.prices .image-wrap {
  width: 100%;
  padding-top: calc(100% - 20px);
  border: 10px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #c6c6c6;
  -moz-box-shadow: 0 0 0 1px #c6c6c6;
  box-shadow: 0 0 0 1px #c6c6c6;
}
.prices .title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 15px;
  color: #0b5c8e;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}
.prices .title:after {
  content: '';
  display: block;
  width: 25px;
  height: 8px;
  background: url(../source/images/decor-prices.png);
  margin: 10px auto 15px;
}
.prices .price-value {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 17px;
  text-align: center;
  margin-bottom: 15px;
}
.prices ul {
  border-top: 1px dotted #000;
  padding: 15px 0;
}
.prices ul li {
  display: block;
  line-height: 1;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
}
.prices ul li:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: '';
  display: block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  background: #ff6926;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 25px;
}
.prices ul li:last-child {
  margin-bottom: 0;
}
.prices .show-portfolio,
.prices .show-cost {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 46px;
  border: 2px solid #2a393e;
  background: #2a393e;
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.prices .show-portfolio:hover,
.prices .show-cost:hover {
  background: #fff;
  color: #2a393e;
}
.prices .show-portfolio:active,
.prices .show-cost:active {
  line-height: 50px;
}
.prices .show-cost {
  border: 2px solid #ff6926;
  background: #ff6926;
  margin-top: 10px;
}
.prices .show-cost:hover {
  color: #ff6926;
}
.prices p {
  color: #fff;
  font-size: 15px;
  margin: 20px 0;
  line-height: 1.5;
}
.prices .prices-links {
  display: block;
  width: calc(100% + 80px);
  background: url(../source/images/background-prices-links.jpg);
  background-size: cover;
  text-align: center;
  margin: 0 -40px;
  padding: 40px 0;
}
.prices .prices-links a {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 17px;
  margin-right: 30px;
}
.prices .prices-links a:last-of-type {
  margin-right: 0;
}
.prices .prices-links a:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 21px;
  margin-right: 10px;
  background: url(../source/images/sprite-prices-links.png);
  background-size: cover;
}
.prices .prices-links a:nth-of-type(2):before {
  background-position: -25px 0;
}
.prices .prices-links a:nth-of-type(3):before {
  background-position: -50px 0;
}
.prices .prices-links a:nth-of-type(4):before {
  background-position: -75px 0;
}
@media (max-width: 1230px) {
  .prices {
    text-align: center;
  }
  .prices .items .item,
  .prices .items .item:last-of-type {
    display: inline-block;
    text-align: left;
    width: 260px;
    margin: 20px;
    float: none;
  }
  .prices p {
    text-align: left;
  }
}
@media (max-width: 980px) {
  .prices .all-prices {
    display: inline-block;
    position: relative;
    top: auto;
    right: auto;
    margin-top: 20px;
  }
  .prices .prices-links a {
    margin: 10px;
  }
}
@media (max-width: 480px) {
  .prices {
    padding: 15px 15px 0 15px;
  }
  .prices .items .item,
  .prices .items .item:last-of-type {
    margin: 20px 0;
  }
  .prices .prices-links {
    padding: 40px 50px;
  }
}
/***********************************************************************************************************************
************ calculator
***********************************************************************************************************************/
.calculator {
  margin-bottom: 40px;
}
.calculator .text {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  color: #0b5c8e;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.calculator .slider-wrap {
  padding: 50px;
  background: #fff;
}
.calculator .slide {
  white-space: nowrap;
  margin: 0 0 0 40px;
}
@media (max-width: 1366px) {
  .calculator .slide {
    margin: 0 0 0 20px;
    text-align: center;
  }
}
.calculator .image-wrap {
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 129px;
  height: 129px;
  border: 1px solid #dedede;
  margin-right: 25px;
}
.calculator .data {
  display: inline-block;
  vertical-align: middle;
}
.calculator .data .title {
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 17px;
}
.calculator .data .current-price {
  display: inline-block;
  vertical-align: middle;
  color: #ff6926;
  font-family: "PT Sans Bold", sans-serif;
  margin-right: 10px;
}
.calculator .data .old-prices {
  display: inline-block;
  vertical-align: middle;
  text-decoration: line-through;
}
@media (max-width: 640px) {
  .calculator .slide {
    margin: 0;
  }
  .calculator .image-wrap,
  .calculator .data {
    display: block;
    margin: 15px auto;
  }
}
.calculator .calculator-footer {
  background: url(../source/images/background-calculator-footer.jpg) left top;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
  position: relative;
  border: 10px solid #fff;
  margin-bottom: 20px;
}
.calculator .calculator-footer .text {
  display: inline-block;
  text-align: left;
  margin: 0;
  padding-left: 110px;
  position: relative;
}
.calculator .calculator-footer .text:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  background: #fff url(../source/images/icon-calculator.png) no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
}
.calculator .calculator-footer h2 {
  color: #6ed0ff;
  margin-bottom: 5px;
}
.calculator .calculator-footer span {
  text-transform: none;
  font-size: 18px;
  color: #fff;
  line-height: 1;
}
@media (max-width: 1230px) {
  .calculator .calculator-footer {
    background: #0b5c8e;
  }
  .calculator .calculator-footer .text {
    text-align: center;
    padding: 0;
  }
  .calculator .calculator-footer .text:before {
    display: none;
  }
  .calculator .calculator-footer button {
    position: static;
    display: block;
    margin: 20px auto 0;
  }
}
.calculator button {
  position: absolute;
  margin: auto;
  right: 55px;
  top: 0;
  bottom: 0;
}
/***********************************************************************************************************************
************ steps
***********************************************************************************************************************/
.steps {
  text-align: center;
  margin-bottom: 40px;
}
.steps ul {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  counter-reset: list;
}
.steps ul li {
  display: block;
  position: relative;
}
.steps ul li:before {
  content: counter(list);
  counter-increment: list;
  display: block;
  width: 33px;
  height: 33px;
  background: #ff6926;
  line-height: 33px;
  color: #fff;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -10px;
  z-index: 2;
}
.steps ul li:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid #ff6926;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 23px;
  z-index: 2;
}
.steps ul li .arrow {
  display: block;
  width: 66px;
  height: 21px;
  position: absolute;
  top: 65px;
  left: calc(100% + 20px);
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 15px;
}
@media (max-width: 1230px) {
  .steps ul li .arrow {
    display: none;
  }
}
.steps ul li span {
  font-family: 'Exo2 Bold', sans-serif;
  text-transform: uppercase;
}
@media (max-width: 980px) {
  .steps ul {
    display: block;
    text-align: center;
  }
  .steps ul li {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
  }
}
.steps .image-step {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 155px;
  height: 155px;
  padding: 3px;
  background: #fff;
  position: relative;
  overflow: hidden;
  margin: 0 auto 15px;
}
.steps .image-step:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35px;
  top: 35px;
  background: #0b5c8e;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
.steps .image-step:hover:after {
  top: 0;
  bottom: 0;
}
.steps .image-wrap {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 149px;
  height: 149px;
  margin: 0 auto 10px;
  border: 10px solid #f3f3f3;
  z-index: 1;
}
/***********************************************************************************************************************
************ portfolio
***********************************************************************************************************************/
.portfolio {
  margin-bottom: 40px;
  text-align: center;
}
.portfolio ul {
  margin: 20px 0 40px;
  background: #fff;
  padding: 2% 2% 0;
  text-align: left;
}
.portfolio ul:after {
  content: '';
  display: block;
  clear: both;
}
.portfolio ul li {
  display: block;
  width: 49%;
  padding-top: 19.6%;
  margin: 0 2% 2% 0;
  float: left;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
}
.portfolio ul li img {
  display: block;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.portfolio ul li:nth-child(2n) {
  margin-right: 0;
}
.portfolio .data {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: -25px;
  bottom: -25px;
  left: -25px;
  padding: 45px 50px;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
}
.portfolio .data .data-inner {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg);
}
.portfolio .data .address span {
  display: block;
  color: #fff;
  font-size: 15px;
}
.portfolio .data .size {
  color: #ff6926;
  font-size: 23px;
}
@media (max-width: 360px) {
  .portfolio .data .address span {
    font-size: 12px;
  }
  .portfolio .data .size {
    font-size: 17px;
  }
}
.portfolio .custom-button {
  display: inline-block;
  text-decoration: none;
}
.portfolio .custom-button:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 840px) {
  .portfolio ul li {
    width: 100%;
    padding-top: 40%;
  }
  .portfolio .data,
  .portfolio .data .data-inner {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .portfolio .data {
    top: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
  }
}
/***********************************************************************************************************************
************ steps-seo
***********************************************************************************************************************/
.steps-seo {
  margin-bottom: 40px;
}
.steps-seo h2 {
  text-align: center;
}
.steps-seo ul {
  margin-top: 20px;
  counter-reset: list;
}
.steps-seo ul:after {
  content: '';
  display: block;
  clear: both;
}
.steps-seo ul li {
  width: 50%;
  float: left;
  min-height: 150px;
  background: #e6e6e6;
  display: flex;
  align-items: center;
  padding: 0 45px;
  position: relative;
}
.steps-seo ul li p {
  display: block;
  font-size: 14px;
  padding: 20px 0;
  hyphens: auto;
  position: relative;
}
.steps-seo ul li p strong {
  font-family: "PT Sans Bold", sans-serif;
}
.steps-seo ul li:nth-child(2),
.steps-seo ul li:nth-child(3),
.steps-seo ul li:nth-child(6) {
  background: #fff;
}
.steps-seo ul li:before {
  content: counter(list);
  counter-increment: list;
  font-family: 'Exo2 Regular', sans-serif;
  font-size: 137px;
  line-height: 1;
  color: #f3f3f3;
  position: absolute;
  left: 60px;
  top: 0;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
@media (max-width: 1230px) {
  .steps-seo ul li {
    width: 100%;
    float: none;
    background: #e6e6e6!important;
  }
  .steps-seo ul li:nth-child(2n) {
    background: #fff!important;
  }
}
/***********************************************************************************************************************
************ make-order
***********************************************************************************************************************/
.make-order {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 45px;
  margin-bottom: 40px;
  background: url(../source/images/background-make-order.jpg) left center;
  background-size: cover;
}
.make-order h2 {
  padding-left: 110px;
  position: relative;
}
.make-order h2 span {
  display: block;
  font-family: 'Exo2 Bold', sans-serif;
  color: #6ed0ff;
  font-size: 20px;
}
.make-order h2 span:last-of-type {
  color: #fff;
}
.make-order h2:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  background: #fff url(../source/images/icon-ruler.png) no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.make-order .text {
  max-width: 275px;
  color: #fff;
  margin: 0 50px;
}
@media (max-width: 980px) {
  .make-order {
    display: block;
    background: #38322c;
    text-align: center;
  }
  .make-order h2 {
    padding-left: 0;
  }
  .make-order h2 span,
  .make-order h2 span:last-of-type {
    display: inline-block;
    color: #6ed0ff;
  }
  .make-order h2:before {
    display: none;
  }
  .make-order .text {
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
  }
  .make-order button {
    margin: 0 auto;
  }
}
/***********************************************************************************************************************
************ team
***********************************************************************************************************************/
.team {
  text-align: center;
  margin-bottom: 40px;
}
.team > p {
  margin: 5px 0 20px;
}
.team > p span {
  display: block;
  font-size: 14px;
}
.team-controls {
  background: #fff;
  padding: 40px 0;
}
.team-controls li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.team-controls li .text {
  display: inline-block;
  vertical-align: middle;
  max-width: 90px;
  text-align: right;
  line-height: 1;
  font-size: 15px;
  font-family: 'Exo2 Bold', sans-serif;
  margin-right: 10px;
}
.team-controls li .number {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  background: #ff6926;
  font-family: 'Exo2 Bold', sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 35px;
  position: relative;
}
.team-controls li .number:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-right: 5px solid #ff6926;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: -5px;
}
.team-controls li:hover .number {
  background: #0b5c8e;
}
.team-controls li:hover .number:before {
  border-right: 5px solid #0b5c8e;
}
.team-controls li.active {
  cursor: not-allowed;
}
.team-controls li.active .number {
  background: #0b5c8e;
}
.team-controls li.active .number:before {
  border-top: 5px solid #0b5c8e;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: none;
  left: 0;
  right: 0;
  top: auto;
  bottom: -5px;
}
@media (max-width: 980px) {
  .team-controls li {
    margin: 10px;
  }
}
@media (max-width: 480px) {
  .team-controls li {
    text-align: right;
    width: 135px;
    margin: 5px;
  }
  .team-controls li .text {
    font-size: 12px;
  }
  .team-controls li .number {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
  }
}
.team-sliders {
  background: #fff;
  list-style: none;
  height: 240px;
  position: relative;
}
.team-sliders .slide {
  min-width: 200px!important;
  position: relative!important;
  padding-top: 170px!important;
}
.team-sliders li {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -10;
  opacity: 0;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.team-sliders li.active {
  z-index: 1;
  opacity: 1;
}
.team-sliders .image-team {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 155px;
  height: 155px;
  padding: 3px;
  background: #fff;
  position: absolute;
  top: 0;
  left: calc(50% - 77px);
  overflow: hidden;
  margin: auto;
}
.team-sliders .image-team:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 90px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #0b5c8e;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
.team-sliders .image-team:hover:after {
  height: 100%;
}
.team-sliders .image-wrap {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 149px;
  height: 149px;
  margin: 0 auto 10px;
  border: 10px solid #fff;
  z-index: 1;
  background: #fff;
}
.team-sliders .name {
  font-family: 'Exo2 Bold', sans-serif;
}
.team-sliders .name span {
  display: block;
  font-family: inherit;
  text-transform: uppercase;
}
@media (max-width: 1366px) {
  .team-sliders .slider {
    width: calc(100% - 80px);
    margin: 0 auto;
  }
}
/***********************************************************************************************************************
************ reviews
***********************************************************************************************************************/
.reviews {
  margin-bottom: 40px;
}
.reviews h2 {
  text-align: center;
  margin-bottom: 25px;
}
.reviews .slider {
  background: #e6e6e6;
  width: calc(100% + 1px);
}
@media (max-width: 1366px) {
  .reviews .slider {
    width: calc(100% - 99px);
    margin: 0 auto;
  }
}
@media (max-width: 1366px) {
  .reviews .slider {
    width: calc(100% - 100px);
  }
}
.reviews .slide {
  padding: 45px 40px;
  background: url(../source/images/decor-review.png) no-repeat center top;
  position: relative;
  left: -1px;
}
.reviews .slide:after {
  content: '';
  display: block;
  width: 0;
  border-right: 1px dotted #000;
  position: absolute;
  right: -1px;
  top: 45px;
  bottom: 45px;
}
@media (max-width: 1366px) {
  .reviews .slide:after {
    display: none;
  }
}
.reviews .name {
  display: inline-block;
  vertical-align: bottom;
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 17px;
  margin-right: 5px;
}
.reviews .city {
  display: inline-block;
  vertical-align: bottom;
  font-family: 'Exo2 Regular', sans-serif;
  font-size: 17px;
  color: #0b5c8e;
}
.reviews p {
  font-size: 14px;
}
.reviews time {
  font-family: "PT Sans Bold", sans-serif;
}
.reviews .custom-button {
  display: block;
  text-decoration: none;
  margin: 40px auto 0;
}
.reviews .custom-button:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 480px) {
  .reviews .slider {
    margin-top: 75px;
    width: 100%;
  }
  .reviews .fa {
    top: -65px;
    bottom: auto;
  }
}
/***********************************************************************************************************************
************ news, articles
***********************************************************************************************************************/
.columns {
  margin-bottom: 40px;
}
.columns:after {
  content: '';
  display: block;
  clear: both;
}
.news,
.articles {
  display: block;
  width: 48.5%;
  float: left;
  margin-right: 3%;
  background: #fff;
  padding: 30px 40px;
  position: relative;
}
.news .show-all,
.articles .show-all {
  font-family: "PT Sans Bold", sans-serif;
  color: #000;
  font-size: 17px;
  position: absolute;
  top: 33px;
  right: 40px;
}
.news ul,
.articles ul {
  margin-top: 20px;
}
.news ul li,
.articles ul li {
  display: block;
}
.news ul li:after,
.articles ul li:after {
  content: '';
  display: block;
  clear: both;
}
.news ul li:first-child,
.articles ul li:first-child {
  border-bottom: 1px dotted #000;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.news .image-wrap,
.articles .image-wrap {
  width: 85px;
  height: 85px;
  float: left;
}
.news .data,
.articles .data {
  width: calc(100% - 110px);
  float: right;
}
.news h3,
.articles h3 {
  display: inline-block;
}
.news h3 a,
.articles h3 a {
  color: #000;
  font-family: "PT Sans Bold", sans-serif;
  line-height: 1.5;
}
.news time,
.articles time {
  display: inline-block;
  font-size: 12px;
  color: #a6b3b7;
  margin-left: 10px;
}
.news .text,
.articles .text {
  margin: 5px 0;
  line-height: 1.5;
}
.news .show-full-version,
.articles .show-full-version {
  display: inline-block;
  vertical-align: middle;
  font-family: "PT Sans Bold", sans-serif;
  color: #0b5c8e;
}
.news .show-full-version:before,
.articles .show-full-version:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 8px;
  background: url(../source/images/decor-prices.png);
  margin-right: 10px;
  position: relative;
  top: -2px;
}
@media (max-width: 980px) {
  .news,
  .articles {
    width: 100%;
    float: none;
    margin: 0;
  }
}
@media (max-width: 480px) {
  .news,
  .articles {
    padding: 20px;
  }
  .news .image-wrap,
  .articles .image-wrap,
  .news .data,
  .articles .data {
    float: none;
  }
  .news .data,
  .articles .data {
    width: 100%;
    margin-top: 20px;
  }
  .news .show-all,
  .articles .show-all {
    position: static;
    margin-top: 10px;
  }
}
.articles {
  margin-right: 0;
}
@media (max-width: 980px) {
  .articles {
    margin-top: 40px;
  }
}
/***********************************************************************************************************************
************ plans
***********************************************************************************************************************/
.plan {
  margin-bottom: 40px;
  text-align: center;
}
.plan .note {
  display: block;
  margin: 10px auto 0;
  width: 100%;
  max-width: 475px;
}
.plan-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px 20px 20px 50px;
  margin: 25px 0 0;
}
@media (max-width: 980px) {
  .plan-item {
    display: block;
    padding: 20px;
  }
}
.plan-image {
  margin-right: 20px;
}
.plan-image img {
  width: auto;
  height: auto;
}
@media (max-width: 980px) {
  .plan-image {
    margin-bottom: 30px;
  }
}
.plan-info {
  max-width: 550px;
  text-align: left;
}
.plan-info .plan-name {
  display: inline-block;
  font-size: 17px;
  font-family: "PT Sans Bold", sans-serif;
  color: #ff6926;
  margin: 0 10px 3px 0;
}
.plan-info .plan-time {
  display: inline-block;
  font-size: 14px;
  font-family: "PT Sans Bold", sans-serif;
  color: #2a393e;
}
.plan-info .plan-cost {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 22px;
  margin: 15px 0 0;
  color: #0b5c8e;
}
.plan-info .plan-cost-note {
  font-family: 'PT Sans Italic', sans-serif;
  color: #777;
}
.plan-info address {
  font-style: normal;
}
.plan-info .plan-description {
  margin-bottom: 15px;
}
.plan-info .plan-description p {
  font-size: 14px;
}
.plan-info .show-estimate {
  display: inline-block;
  vertical-align: middle;
  width: 205px;
  height: 46px;
  line-height: 42px;
  border: 2px solid #2a393e;
  background: #2a393e;
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
}
.plan-info .show-estimate:hover {
  background: #fff;
  color: #2a393e;
}
.plan-info .show-estimate:active {
  line-height: 50px;
}
.plan-info .custom-button {
  display: inline-block;
  vertical-align: middle;
}
.plan-info .custom-button:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 1230px) {
  .plan-info .custom-button,
  .plan-info .show-estimate {
    width: 180px;
  }
}
@media (max-width: 980px) {
  .plan-info {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 640px) {
  .plan-info .custom-button,
  .plan-info .show-estimate {
    width: 150px;
    height: 35px;
    line-height: 35px;
    font-size: 10px;
    margin: 10px 20px 10px 0;
  }
  .plan-info .show-estimate {
    line-height: 31px;
  }
  .plan-info .show-estimate:active {
    line-height: 35px;
  }
}
.plan-photo {
  display: block;
  width: 365px;
  position: relative;
  cursor: pointer;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  margin-left: 20px;
  border: 1px solid #d8d8d8;
}
.plan-photo:after {
  content: '';
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: url(../source/images/plans-photo-decor.png);
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
}
@media (max-width: 980px) {
  .plan-photo {
    margin: 0;
  }
}
@media (max-width: 480px) {
  .plan-photo {
    width: 100%;
  }
}
/***********************************************************************************************************************
************ seo-text
***********************************************************************************************************************/
.seo-text {
  padding: 40px 0 0;
}
.seo-text p {
  font-size: 14px;
}
/***********************************************************************************************************************
************ modals
***********************************************************************************************************************/
.window {
  display: none;
  background: rgba(0, 0, 0, 0.57);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1001;
}
.window .window-inner {
  display: block;
  width: 355px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 200px;
  background: #fff;
  padding: 35px 40px;
}
.window-estimate .window-inner {
  width: 820px;
}
.window .title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  color: #0b5c8e;
  text-transform: uppercase;
  line-height: 1;
}
.window .fa-close {
  display: block;
  width: 50px;
  height: 50px;
  background: #0b5c8e;
  color: #fff;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  right: -50px;
  top: 0;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  cursor: pointer;
}
.window .fa-close:hover {
  background: #fff;
  color: #0b5c8e;
}
.window .fa-close:active {
  font-size: 32px;
}
.window label {
  display: block;
  width: 100%;
  margin: 25px 0;
}
.window input {
  display: block;
  width: 100%;
  height: 35px;
  border: 1px solid #ccc;
  background: #f3f3f3;
  padding: 0 20px;
}
.window textarea {
  display: block;
  width: 100%;
  height: 130px;
  border: 1px solid #ccc;
  background: #f3f3f3;
  padding: 10px 20px;
  resize: none;
}
.window fieldset {
  display: block;
  width: 100%;
  border: none;
}
.window fieldset:after {
  content: '';
  display: block;
  clear: both;
}
.window fieldset label {
  width: 115px;
  float: left;
  padding-left: 15px;
  margin: 0;
}
.window fieldset label span {
  display: block;
  font-family: "PT Sans Bold", sans-serif;
}
.window fieldset input {
  width: calc(100% - 115px);
}
.window button {
  width: 100%;
  margin-top: 25px;
}
.window table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
.window table td {
  padding: 20px;
  font-size: 14px;
  border-right: 2px solid #fff;
  background: #f3f3f3;
}
.window table td:nth-of-type(2) {
  min-width: 55px;
}
.window table td:last-of-type {
  border-right: 0;
}
.window table tr:nth-of-type(2n) td {
  background: #f7fcff;
}
.window .total {
  text-align: right;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 17px;
}
.window .summa {
  text-align: right;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 22px;
  color: #0b5c8e;
}
@media (max-width: 980px) {
  .window-estimate .window-inner {
    width: 100%!important;
  }
  .window .fa-close {
    right: 0;
    top: -50px;
  }
}
@media (max-width: 768px) {
  .window .window-inner {
    width: 320px;
    top: 50px;
  }
}
@media (max-width: 480px) {
  .window-estimate .window-inner {
    padding: 20px!important;
  }
  .window table td {
    padding: 10px;
  }
}
