/***********************************************************************************************************************
************ fonts
***********************************************************************************************************************/

@font-face {
  font-family: 'Exo2 Regular';
  src: url("../source/fonts/exo2.woff") format("woff"), url("../source/fonts/exo2.ttf") format("truetype"), url("../source/fonts/exo2.woff2") format("woff2");
}

@font-face {
  font-family: 'Exo2 Bold';
  src: url("../source/fonts/exo2bold.woff") format("woff"), url("../source/fonts/exo2bold.ttf") format("truetype"), url("../source/fonts/exo2bold.woff2") format("woff2");
}

@font-face {
  font-family: 'PT Sans Regular';
  src: url("../source/fonts/ptsans.woff") format("woff"), url("../source/fonts/ptsans.ttf") format("truetype"), url("../source/fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: 'PT Sans Bold';
  src: url("../source/fonts/ptsansbold.woff") format("woff"), url("../source/fonts/ptsansbold.ttf") format("truetype"), url("../source/fonts/ptsansbold.woff2") format("woff2");
}

@font-face {
  font-family: 'PT Sans Italic';
  src: url("../source/fonts/ptsansitalic.woff") format("woff"), url("../source/fonts/ptsansitalic.ttf") format("truetype"), url("../source/fonts/ptsansitalic.woff2") format("woff2");
}

/***********************************************************************************************************************
************ general
***********************************************************************************************************************/

@color-blue: #0b5c8e;
@color-orange: #ff6926;

.transformed() {
  -webkit-transform: skew(60deg) rotate(60deg);
  -moz-transform: skew(60deg) rotate(60deg);
  -ms-transform: skew(60deg) rotate(60deg);
  -o-transform: skew(60deg) rotate(60deg);
  transform: skew(60deg) rotate(60deg);
}

.clearfix() {

  &:after {
    content: '';
    display: block;
    clear: both;
  }

}

.circle() {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "PT Sans Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
}

a {
  color: @color-blue;

  &:hover {
    text-decoration: none;
  }

}

a, button {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border: none;
  cursor: pointer;
}

a:focus, button:focus {
  outline: none;
}

.wrapper {
  display: block;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  background: #f3f3f3;
  min-height: 100vh;
  padding-bottom: 370px;
}

.wrapper-inner {
  display: block;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  @media(max-width: 1260px) {
    padding: 0 10px;
  }

}

.custom-button {
  display: block;
  width: 205px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  background: url(../source/images/decor-button-left.png) no-repeat left center,
              url(../source/images/decor-button-right.png) no-repeat right center,
              url(../source/images/background-button.jpg) no-repeat;
  background-size: auto, auto, cover;
  font-family: 'Exo2 Bold', sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;

  &:hover {
    background: url(../source/images/decor-button-left.png) no-repeat -10px center,
    url(../source/images/decor-button-right.png) no-repeat ~"calc(100% + 10px)" center,
    url(../source/images/background-button.jpg) no-repeat;
    -webkit-box-shadow: 0 0 15px 0 rgba(255, 80, 14, .5);
    -moz-box-shadow: 0 0 15px 0 rgba(255, 80, 14, .5);
    box-shadow: 0 0 15px 0 rgba(255, 80, 14, .5);
  }

  &:active {
    line-height: 50px;
  }

}

.image-wrap {
  display: block;
  position: relative;
  overflow: hidden;

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }

}

.slider-wrap {
  opacity: 0;
  position: relative;

  .fa-chevron-left,
  .fa-chevron-right {
    display: block;
    width: 35px;
    height: 60px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 60px;
    font-size: 50px;
    color: #cecece;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    cursor: pointer;

    &:hover {
      color: @color-orange;
    }

  }

  .fa-chevron-left {
    left: -65px;

    &:active {
      left: -70px;
    }

  }

  .fa-chevron-right {
    left: ~"calc(100% + 30px)";

    &:active {
      left: ~"calc(100% + 35px)";
    }

  }

}

.top-arrow {
  position: fixed;
  left: ~"calc(50% + 665px)";
  bottom: 320px;
  text-align: center;
  cursor: pointer;
  transition: .4s;

  .fa {
    display: block;
    font-size: 52px;
    color: #cbcbcb;
  }

  span {
    font-family: "PT Sans Bold", sans-serif;
    text-decoration: underline;
    color: @color-blue;
  }

  &:hover {

    .fa {
      color: @color-blue;
    }

    span {
      text-decoration: none;
    }

  }

}

h2 {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  color: @color-blue;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  padding: 10px 0;
  line-height: 1.4;
  hyphens: auto;
}

/***********************************************************************************************************************
************ header
***********************************************************************************************************************/

header[role='banner'] {
  background: #fff url(../source/images/background-header.png) repeat-x left bottom;
  padding: 30px 0 90px;

  .wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:after {
      display: none;
    }

  }

}

.logo-header {
  display: block;
  width: 226px;

  &:hover {
    opacity: .7;
  }

}

.logo-header-small {
  display: none;
}

.header-promo {

  span {
    font-family: "PT Sans Bold", sans-serif;

    a {
      font-family: inherit;
    }

  }

  ul {
    display: block;
    margin-top: 5px;

    li {
      display: block;
      position: relative;
      padding-left: 30px;

      &:before {
        .transformed();
        content: '';
        display: block;
        height: 8px;
        width: 5px;
        background: @color-orange;
        position: absolute;
        top: 4px;
        left: 14px;
      }

    }

  }

}

.header-links {
  display: block;
  width: 360px;

  li {
    display: block;
    width: 50%;
    float: left;
    padding-left: 40px;
    position: relative;
    margin: 10px 0;

    &:before {
      content: '';
      display: block;
      width: 25px;
      height: 25px;
      background: transparent url(../source/images/sprite-header.png) no-repeat left top;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
    }

    &:hover:before {
      left: 5px;
    }

    &:nth-child(2):before {background-position: -25px 0;}
    &:nth-child(3):before {background-position: -50px 0;}
    &:nth-child(4):before {background-position: -75px 0;}
    &:nth-child(5):before {background-position: -100px 0;}
    &:nth-child(6):before {background-position: -125px 0;}

    a {
      font-family: 'Exo2 Bold', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
    }

  }

}

.header-contacts {
  width: 205px;
  text-align: center;

  a {
    display: inline-block;
    font-family: 'Exo2 Regular', sans-serif;
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 5px;

    span {
      font-family: inherit;
      font-size: inherit;
      color: @color-blue;
    }

    &:hover {
      text-shadow: 0 0 1px rgba(0, 0, 0, .4);

      span {
        color: inherit;
      }

    }

  }

  .hours {
    font-size: 12px;
    line-height: 1.2;

    span {
      font-family: "PT Sans Bold", sans-serif;
      font-size: inherit;
      line-height: inherit;
    }

  }

  .callback {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Exo2 Bold', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    color: @color-blue;
    cursor: pointer;
    margin: 15px 0 10px;

    &:hover {
      text-decoration: none;
    }

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      background: url(../source/images/icon-phone.png);
      margin-right: 8px;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
    }

    &:hover:before {
      margin-right: 4px;
    }

  }

}

header[role='banner'].fixed {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #fff;
  padding: 20px 0;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);

  .logo-header,
  .header-promo,
  .header-links li {
    display: none;
  }

  .logo-header-small {
    display: block;
    width: 55px;
  }

  .header-links {
    width: auto;

    .calculator-link {
      display: block;
    }

  }

  .header-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    text-align: left;

    a {
      display: block;
      white-space: nowrap;
    }

    .hours {
      display: block;
      width: 200px;
      margin: 0 20px 0 30px;
    }

    .callback {
      white-space: nowrap;
      margin-right: 7.5%;
    }

  }

}

/***********************************************************************************************************************
************ footer
***********************************************************************************************************************/

footer[role='contentinfo'] {
  display: block;
  width: 100%;
  height: 240px;
  z-index: 1;
  background: #2a393e;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 50px;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 89px;
    background: transparent url(../source/images/background-footer.png) repeat-x;
    position: absolute;
    left: 0;
    top: -87px;
  }

  .wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:after {
      display: none;
    }

  }

}

.logo-footer {
  white-space: nowrap;

  a {
    display: inline-block;
    width: 97px;
    vertical-align: middle;

    &:hover {
      opacity: .7;
    }

  }

  div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;

    span {
      display: block;
      color: #fff;
      margin: 5px 0;

      &:first-of-type {
        font-family: "PT Sans Bold", sans-serif;
      }

    }

  }

}

.footer-contacts {

  a {
    font-family: 'Exo2 Regular', sans-serif;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }

  span {
    display: block;
    color: #fff;
    font-size: 12px;
    margin: 5px 0;
  }

}

.social-links {

  li {
    display: inline-block;
    vertical-align: middle;

    a {
      display: block;
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      font-size: 28px;
      color: #fff;
      text-align: center;
      border: 2px solid transparent;

      i {
        font-size: inherit;
        color: inherit;
        line-height: 46px;
      }

      &:hover {
        color: @color-orange;
        border: 2px solid @color-orange;
      }

      &:active {
        -webkit-transform: translateY(3px);
        -moz-transform: translateY(3px);
        -ms-transform: translateY(3px);
        -o-transform: translateY(3px);
        transform: translateY(3px);
      }

    }

  }

}

/***********************************************************************************************************************
************ slider-top
***********************************************************************************************************************/

.slider-top {
  margin: 30px 0 40px;

  .slider-wrap {
    padding: 7px;
    background: #fff;
    -webkit-box-shadow: 0 -80px 75px -110px rgba(0, 0, 0, 0.5), 0 80px 75px -110px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 -80px 75px -110px rgba(0, 0, 0, 0.5), 0 80px 75px -110px rgba(0, 0, 0, 0.5);
    box-shadow: 0 -80px 75px -110px rgba(0, 0, 0, 0.5), 0 80px 75px -110px rgba(0, 0, 0, 0.5);
  }

  .slide {
    display: block;
    width: 100%;
    position: relative;

    .slide-info {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 30px 60px 40px;

      .title {
        font-family: 'Exo2 Regular', sans-serif;
        text-transform: uppercase;
        font-size: 30px;
        color: #fff;
        line-height: 1;

        span {
          display: block;
          font-family: 'Exo2 Bold', sans-serif;
          color: inherit;
          font-size: inherit;
          line-height: 1.1;
        }

      }

      .sub-title {
        font-size: 25px;
        text-transform: lowercase;
        color: #fd9e6d;
        margin-top: 10px;
      }

      a {
        position: absolute;
        left: 60px;
        bottom: 40px;
      }

    }

  }

  .slick-dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 35px;
    top: 0;
    bottom: 0;

    li {
      display: block;
      margin: 2px 0;

      button {
        .transformed();
        display: block;
        width: 10px;
        height: 15px;
        background: #fff;
        font-size: 0;
        color: transparent;

        &:hover {
          background: @color-orange;
        }

      }

      &.slick-active {
        button {
          background: @color-orange;
        }
      }

    }

  }

}

/***********************************************************************************************************************
************ advantages
***********************************************************************************************************************/

.advantages {
  background: url(../source/images/background-advantages.jpg);
  background-size: cover;
  margin-bottom: 40px;

  ul {
    .clearfix();
    padding: 45px 0 35px;

    li {
      display: block;
      width: 25%;
      float: left;
      text-align: center;
      position: relative;

      &:before {
        content: '';
        display: block;
        margin: 0 auto 20px;
        width: 80px;
        height: 80px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: @color-orange url(../source/images/sprite-advantages.png);
      }

      &:after {
        content: '';
        display: block;
        width: 175px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 40px;
        left: 71%;
      }

      &:nth-child(2):before {
        background-position: -80px 0;
      }

      &:nth-child(3):before {
        background-position: -160px 0;
      }

      &:nth-child(4):before {
        background-position: -240px 0;
      }

      &:last-child:after {
        display: none;
      }

      .title {
        font-family: "PT Sans Bold", sans-serif;
        color: #75c4f5;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      .text {
        color: #fff;
        font-size: 15px;

        &:after {
          content: '';
          display: block;
          width: 8px;
          height: 25px;
          background: url(../source/images/decor-advantages.png);
          margin: 15px auto 0;
        }

      }

    }

  }

}

/***********************************************************************************************************************
************ services
***********************************************************************************************************************/

.services {
  margin-bottom: 40px;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    li {
      display: block;
      text-align: center;

      .image-wrap {
        .circle();
        width: 129px;
        height: 129px;
      }

      .title {
        display: inline-block;
        font-family: 'Exo2 Bold', sans-serif;
        color: @color-blue;
        text-transform: uppercase;
        margin: 15px 0 10px;
      }

      .service-cost {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        background: @color-orange;
        position: relative;

        &:before {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-bottom: 5px solid @color-orange;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          margin: 0 auto;
          position: absolute;
          left: 0;
          right: 0;
          top: -5px;
        }

      }

    }

  }

}

/***********************************************************************************************************************
************ seo
***********************************************************************************************************************/

.seo {
  background: #fff url(../source/images/background-seo.png) no-repeat right bottom;
  padding: 35px 40px;
  margin-bottom: 40px;

  ul {
    .clearfix();
    display: block;
    max-width: 700px;
    margin: 20px 0;

    li {
      display: block;
      float: left;
      width: 50%;
      padding-left: 60px;
      position: relative;
      font-family: "PT Sans Bold", sans-serif;
      font-size: 17px;
      margin-bottom: 25px;

      .fa {
        display: block;
        width: 25px;
        height: 25px;
        border: 2px solid @color-blue;
        color: @color-blue;
        line-height: 21px;
        text-align: center;
        font-size: 18px;
        position: absolute;
        left: 20px;
        top: 0;
      }

      span {
        display: block;
        font-size: 15px;
        margin-top: 5px;
      }

    }

  }

  .note {
    display: inline-block;
    vertical-align: top;
    font-family: "PT Sans Italic", sans-serif;
    max-width: 450px;
    margin-right: 20px;
  }

  button {
    display: inline-block;
  }
  
}

/***********************************************************************************************************************
************ prices
***********************************************************************************************************************/

.prices {
  background: #809fb1;
  padding: 35px 40px 0 40px;
  position: relative;
  margin-bottom: 40px;

  h2 {
    color: #fff;
  }

  .all-prices {
    font-family: "PT Sans Bold", sans-serif;
    font-size: 17px;
    color: #fff;
    position: absolute;
    top: 37px;
    right: 40px;
    padding-left: 35px;

    &:before {
      content: '';
      display: block;
      width: 21px;
      height: 21px;
      background: url(../source/images/icon-prices.png);
      position: absolute;
      left: 0;
      top: 0;
    }

  }

  .items {
    .clearfix();
    display: block;
    margin-top: 30px;

    .item {
      display: block;
      width: 22.75%;
      margin: 0 3% 0 0;
      float: left;
      background: #fff;
      padding: 10px;

      &:last-of-type {
        margin-right: 0;
      }

    }

  }

  .image-wrap {
    width: 100%;
    padding-top: ~"calc(100% - 20px)";
    border: 10px solid #fff;
    -webkit-box-shadow: 0 0 0 1px #c6c6c6;
    -moz-box-shadow: 0 0 0 1px #c6c6c6;
    box-shadow: 0 0 0 1px #c6c6c6;
  }

  .title {
    font-family: "PT Sans Bold", sans-serif;
    font-size: 15px;
    color: @color-blue;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;

    &:after {
      content: '';
      display: block;
      width: 25px;
      height: 8px;
      background: url(../source/images/decor-prices.png);
      margin: 10px auto 15px;
    }

  }

  .price-value {
    font-family: "PT Sans Bold", sans-serif;
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
  }

  ul {
    border-top: 1px dotted #000;
    padding: 15px 0;

    li {
      display: block;
      line-height: 1;
      position: relative;
      padding-left: 35px;
      margin-bottom: 8px;

      &:before {
        .circle();
        content: '';
        display: block;
        vertical-align: middle;
        width: 4px;
        height: 4px;
        background: @color-orange;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 25px;
      }

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  .show-portfolio,
  .show-cost {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 46px;
    border: 2px solid #2a393e;
    background: #2a393e;
    font-family: 'Exo2 Bold', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: #fff;
      color: #2a393e;
    }

    &:active {
      line-height: 50px;
    }

  }

  .show-cost {
    border: 2px solid @color-orange;
    background: @color-orange;
    margin-top: 10px;

    &:hover {
      color: @color-orange;
    }

  }

  p {
    color: #fff;
    font-size: 15px;
    margin: 20px 0;
    line-height: 1.5;
  }

  .prices-links {
    display: block;
    width: ~"calc(100% + 80px)";
    background: url(../source/images/background-prices-links.jpg);
    background-size: cover;
    text-align: center;
    margin: 0 -40px;
    padding: 40px 0;

    a {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      font-size: 17px;
      margin-right: 30px;

      &:last-of-type {
        margin-right: 0;
      }

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 25px;
        height: 21px;
        margin-right: 10px;
        background: url(../source/images/sprite-prices-links.png);
        background-size: cover;
      }

      &:nth-of-type(2):before {
        background-position: -25px 0;
      }

      &:nth-of-type(3):before {
        background-position: -50px 0;
      }

      &:nth-of-type(4):before {
        background-position: -75px 0;
      }

    }

  }

}

/***********************************************************************************************************************
************ calculator
***********************************************************************************************************************/

.calculator {
  margin-bottom: 40px;

  .text {
    font-family: "PT Sans Bold", sans-serif;
    font-size: 20px;
    color: @color-blue;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }

  .slider-wrap {
    padding: 50px;
    background: #fff;
  }

  .slide {
    white-space: nowrap;
    margin: 0 0 0 40px;
  }

  .image-wrap {
    display: inline-block;
    vertical-align: middle;
    .circle();
    width: 129px;
    height: 129px;
    border: 1px solid #dedede;
    margin-right: 25px;
  }

  .data {
    display: inline-block;
    vertical-align: middle;

    .title {
      font-family: 'Exo2 Bold', sans-serif;
      font-size: 17px;
    }

    .current-price {
      display: inline-block;
      vertical-align: middle;
      color: @color-orange;
      font-family: "PT Sans Bold", sans-serif;
      margin-right: 10px;
    }

    .old-prices {
      display: inline-block;
      vertical-align: middle;
      text-decoration: line-through;
    }

  }

  .calculator-footer {
    background: url(../source/images/background-calculator-footer.jpg) left top;
    background-size: cover;
    text-align: center;
    padding: 40px 0;
    position: relative;
    border: 10px solid #fff;
    margin-bottom: 20px;

    .text {
      display: inline-block;
      text-align: left;
      margin: 0;
      padding-left: 110px;
      position: relative;

      &:before {
        .circle();
        content: '';
        display: block;
        width: 80px;
        height: 80px;
        background: #fff url(../source/images/icon-calculator.png) no-repeat center;
        position: absolute;
        top: 0;
        left: 0;
      }

    }

    h2 {
      color: #6ed0ff;
      margin-bottom: 5px;
    }

    span {
      text-transform: none;
      font-size: 18px;
      color: #fff;
      line-height: 1;
    }

  }

  button {
    position: absolute;
    margin:auto;
    right: 55px;
    top: 0;
    bottom: 0;
  }

}

/***********************************************************************************************************************
************ steps
***********************************************************************************************************************/

.steps {
  text-align: center;
  margin-bottom: 40px;

  ul {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    counter-reset: list;

    li {
      display: block;
      position: relative;

      &:before {
        content: counter(list);
        counter-increment: list;
        display: block;
        width: 33px;
        height: 33px;
        background: @color-orange;
        line-height: 33px;
        color: #fff;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: -10px;
        z-index: 2;
      }

      &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid @color-orange;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 23px;
        z-index: 2;
      }

      .arrow {
        display: block;
        width: 66px;
        height: 21px;
        position: absolute;
        top: 65px;
        left: ~"calc(100% + 20px)";
        font-family: 'Exo2 Bold', sans-serif;
        font-size: 15px;
      }

      span {
        font-family: 'Exo2 Bold', sans-serif;
        text-transform: uppercase;
      }

    }

  }

  .image-step {
    .circle();
    width: 155px;
    height: 155px;
    padding: 3px;
    background: #fff;
    position: relative;
    overflow: hidden;
    margin: 0 auto 15px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 35px;
      top: 35px;
      background: @color-blue;
      -webkit-transition: .2s;
      -moz-transition: .2s;
      -ms-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
    }

    &:hover:after {
      top: 0;
      bottom: 0;
    }

  }

  .image-wrap {
    .circle();
    width: 149px;
    height: 149px;
    margin: 0 auto 10px;
    border: 10px solid #f3f3f3;
    z-index: 1;
  }

}

/***********************************************************************************************************************
************ general
***********************************************************************************************************************/

/***********************************************************************************************************************
************ general
***********************************************************************************************************************/

/***********************************************************************************************************************
************ general
***********************************************************************************************************************/

/***********************************************************************************************************************
************ general
***********************************************************************************************************************/

/***********************************************************************************************************************
************ general
***********************************************************************************************************************/

/***********************************************************************************************************************
************ general
***********************************************************************************************************************/

/***********************************************************************************************************************
************ general
***********************************************************************************************************************/

/***********************************************************************************************************************
************ general
***********************************************************************************************************************/

/***********************************************************************************************************************
************ general
***********************************************************************************************************************/

/***********************************************************************************************************************
************ seo-text
***********************************************************************************************************************/

.seo-text {
  padding: 40px 0 0;

  p {
    font-size: 14px;
  }

}

/***********************************************************************************************************************
************ modals
***********************************************************************************************************************/

.window {
  display: none;
}